<div class="btn-group">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Pizzas
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Muza</a>
    <a class="dropdown-item" href="#">Muza c/J</a>
    <a class="dropdown-item" href="#">Fugaza</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">por si se me ocurre algo</a>
  </div>
</div>  
<div class="btn-group">  
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Empanadas
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Carne</a>
    <a class="dropdown-item" href="#">Pollo</a>
    <a class="dropdown-item" href="#">Jamón y Queso</a>
  </div>
</div>
<div class="btn-group">  
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bebidas
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Birra</a>
    <a class="dropdown-item" href="#">Agua</a>
    <a class="dropdown-item" href="#">Gaseosa</a>
  </div>
</div>