<!--div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Empanada de carne y jugosa</td>
          <td>15p</td>
        </tr>
      </tbody>
    </table>
</div-->

<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <!--th>#</th     LO DEJO COMENTADO POR SI LE PONEMOS ID DE PRODUCTO-->
          <th>Nombre Producto</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>   
        <tr *ngFor="let producto of productos">
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  