<div class="main-container form animated fadeIn fast">
    <h2>Alta de Producto</h2>
    
    <form class="main-container" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationTooltip01">Nombre del Producto</label>
          <input type="text" class="form-control" id="validationTooltip01"required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationTooltip02">Precio</label>
          <input type="text" class="form-control" id="validationTooltip02" required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
      </div>
      <button class="btn btn-primary"  class="btn btn-warning" (click)=crearCliente()>Aceptar</button>
    </form>
    