<div class="main-container form animated fadeIn fast">
<h2>Alta de Cliente</h2>

<form class="main-container"  (submit)= submit()>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="txtNombre">Nombre</label>
      <input type="text" class="form-control" id="txtNombre"required name="txtNombre" [(ngModel)]="model.nombre">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="txtApellido">Apellido</label>
      <input type="text" class="form-control" id="txtApellido" required name="txtApellido"  [(ngModel)]="model.apellido">
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="txtDireccion">Dirección</label>
      <input type="text" class="form-control" id="txtDireccion"required name="txtDireccion"  [(ngModel)]="model.direccion">
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="intTelefono">Teléfono</label>
      <input type="number" class="form-control" id="intTelefono"required name="intTelefono"  [(ngModel)]="model.telefono">
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" class="btn btn-warning" >Aceptar</button>
</form>
