
<div class="container"> 
  <div class="row">
    <div class="col-sm-7">
        <div class="row"> 
          <div class="col-sm-12">

          </div>



          <div class="col-sm-4" style="margin:5px" *ngFor="let producto of productosDisponibles;">
                <button width="200px" height="50px" class="btn btn-default btn-lg btn-block" type="submit"  (click)= addProduct(producto)>
                  {{producto.nombre}}
                </button>
          </div>
          <span></span>
      </div>  
    </div>
    <div class="col-sm-5" id= "containerproductSelecteds">
      <table class="table table-striped">
        <thead >
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="tbodypedido">
          <tr *ngFor="let producto of productos let i = index" [attr.data-index]="i">
            <td>{{i +1}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio * producto.cantidad}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success" (click)= sumarUnoAlProducto(producto) >
                  <i class="fa fa-plus-square"></i>
                </button>
                <button class="btn btn-info" (click)= restarUnoAlProducto(producto)> 
                  <i class="fa fa-minus-square"></i>
                </button>
                <button class="btn btn-danger" (click)=deleteLine(i)>
                  <i class="fa fa-trash"></i>
                </button>
              </div>            
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div>
      <button width="200px" height="50px" class="btn btn-success btn-lg btn-block" type="submit" (click)= crearPedido()>
        Crear
      </button>
  </div>

</div>
