
<div class="container"> 
  <div class="row">
    <div class="col-sm-7">
        <div class="row"> 
          <div class="col-sm-12">

              <div class="form-group">
                <label >Cliente</label>
                <input type="text" class="form-control" (keyup)="onKey($event)">
                  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">

                    <span ng-show="myForm.user.$error.required">El numero de cliente es requerido</span>
                  </span>
              </div>
          </div>



          <div class="col-sm-4" style="margin:5px" *ngFor="let producto of productosDisponibles;">
                <button width="200px" height="50px" class="btn btn-default btn-lg btn-block" type="submit"  (click)= addProduct(producto)>
                  {{producto.nombre}}
                </button>
          </div>
          <span></span>
      </div>  
    </div>
    <div class="col-sm-5" id= "containerproductSelecteds">
      <table class="table table-striped">
        <thead >
          <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>precio</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody class="tbodypedido">
          <tr *ngFor="let producto of productos let i = index" [attr.data-index]="i">
            <td>{{i +1}}</td>
            <td>{{producto.nombreProd}}</td>
            <td>{{producto.cantidad}}</td>
            <td>{{producto.precio * producto.cantidad}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success" (click)= sumarUnoAlProducto(producto) >
                  +
                </button>
                <button class="btn btn-info" (click)= restarUnoAlProducto(producto)> 
                  -
                </button>
                <button class="btn btn-danger" (click)=deleteLine(i)>
                  Borrar
                </button>
              </div>            
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div>
      <button width="200px" height="50px" class="btn btn-success btn-lg btn-block" type="submit" data-toggle="modal" (click)= crearPedido() data-target="#crearPedidoBox">
        Crear
      </button>
  </div>

</div>

<div class="modal fade" id="crearPedidoBox" tabindex="-1" role="dialog" aria-labelledby="crearPedidoBox" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="MyField">El pedido se creo con exitó</label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>